.project{

    position:relative;
    border:1px solid $lightGray;
    box-shadow: 0 3px 10px rgba(50,50,50,0.05);
    //padding-bottom:8rem;
    margin-bottom:2rem;
    display:flex;
    flex-direction: column;

    width:100%;

    @include respond(eight-fifty){
        width: 47%;
    }

    // @include respond(twelve-hundred-fifty){
    //     width:32%;
    // }

    // @include respond(tab-land){
    //     width:47%;
    //  }

    // @include respond(tab-port){
    //     width:47%;
    // }

    // @include respond(phone){
    //     width:100%;
    // }

    &__image{
        width:100%;
        height:200px;
        display:flex;
        justify-content: center;
        align-items: flex-end;
        background-color:$lightGray;
        background-color:yellowgreen;

        @include respond(phone){
            height:175px;
        }

        @media screen and (max-width:23.125rem){
            height:145px;
        }

        & img{
            border:5px solid $black;
            border-radius:7px;
            border-bottom:0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            height:175px;

            @include respond(phone){
                height:150px;
            }

            @media screen and (max-width:23.125rem){
                height:120px;
            }

            &:not(:last-child){
                margin-right:4px;
            }
        }
    }

    &__text{
        padding:0 5%;
        line-height:1.6;
        flex-grow:1;
        display:flex;
        flex-direction: column;
        padding-bottom:2rem;
    }

    &__title{
        font-family:Roboto, sans-serif;
        margin: 2rem 0;
        font-size:2rem;
    }

    &__description{
        //padding:0 5%;
        font-size:1.6rem;
        font-family:Roboto, sans-serif;
        flex-grow:1;
    }

    &__buttons{
        display:flex;
        justify-content: space-around;
        //margin-top:2rem;
        //position: absolute;
        //bottom:2rem;
        //width:90%;
        
        & a{
            font-size:1.8rem;
        }
    }

    &__skills{
        margin:2rem 0;
        opacity:.5;
        font-size:1.4rem;
        font-family:Roboto, sans-serif;
    }
}