.project{

    width:32%;
    border:1px solid $lightGray;
    box-shadow: 0 3px 10px rgba(50,50,50,0.05);
    padding-bottom:3rem;

    &:not(:nth-child(3)){
        margin-right:1%;
    }

    &__image{
        width:100%;
        height:auto;
    }

    &__text{
        padding:0 5%;
    }

    &__title{
        font-family:Roboto, sans-serif;
        margin: 2rem 0;
        font-size:2rem;
    }

    &__description{
        //padding:0 5%;
        font-size:1.4rem;
        font-family:Roboto, sans-serif;
    }

    &__skills{
        margin-top:2rem;
        opacity:.5;
    }
}