.heading-primary{

    font-family:Roboto, sans-serif;
    color:$white;
    margin-bottom:2.5rem;

    &--main{
        font-size:8rem;
        display:block;
        
        @include respond(phone){
            font-size:6.5rem;
        }
    } 

    &--sub{
        display:block;
        font-weight:300;
    }

}

.heading-secondary{
    font-family:Roboto, sans-serif;
    font-size:5rem;
    margin-bottom:2rem;

    &--white{
        color:$white;
    }

    &--opaque{
        opacity:.8;
    }
}

.center-text{
    text-align:center !important;
}

.link{

    &:visited{
        color:inherit;
    }
    

}