.heading-primary{

    font-family:Roboto, sans-serif;
    color:$white;
    margin-bottom:2.5rem;

    &--main{
        font-size:8rem;
        display:block;
    }

    &--sub{
        display:block;
        font-weight:300;
    }

}

.heading-secondary{
    font-family:Roboto, sans-serif;
    font-size:5rem;
    margin-bottom:2rem;

    &--white{
        color:$white;
    }
}

.center-text{
    text-align:center !important;
}