.flex{
    display: flex;
    
    &--wrap{
        flex-wrap:wrap;
    }

    &--space-between{
        justify-content: space-between;
    }

    &--space-around{
        justify-content: space-around;
    }
}

.hide-phone{

    @include respond(phone){
        display:none !important;
    }
}